#m_box{ background-color: #09C; width: 150px; height: 40px; }
.box{ width: 100px; height: 50px; border: 1px solid green }
#main_header{
    background: black;
    border:10px solid gray;
    padding: 20px;   
}